@model dynamic

@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StudyVue</title>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">HTTP5</a>
    </li>

</head>
<body>

<div id="app">
    <h1>{{product}}</h1>
</div>




<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="~/js/vue.js"></script>





</body>
</html>